html {
	margin: 0;
	padding: 40px;
	background: #DFE1E5;
}
body {
	margin: 0;
	padding: 30px;
	font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
	font-size: 14px;
	color: #373737;
	width: 800px;
	background:  rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.30);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,.30);
	box-shadow: 2px 2px 6px rgba(0,0,0,.30);
	border: 1px solid #C7C7C7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}
a {
	color: #1A4882;
}
h1, h2, h3 {
	margin: 30px 0 10px 0;
}
body {
	display: inline-block;
}
div#TOC {
	border: 1px solid #C7C7C7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div#cover {
	text-align: center;
	padding: 0 0 30px 0;
}
div#cover img {
	max-height: 400px;
}